.signin-and-signup {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }
}